.header-container {
  background-color: #BA77FF !important;
}

.header-title {
  flex: 1;
  text-align: center;
}

.profile-picture {
  max-height: 60px;
}

.tab-container {
  background-color: #BA77FF !important;
}

.mdl-layout__tab-bar-left-button {
  color: #FFF !important;
  background-color: #BA77FF !important;
}

.mdl-layout__tab-bar-right-button {
  color: #FFF !important;
  background-color: #BA77FF !important;
}

.nav-tab {
  flex-grow: 1 !important;
}
