<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/build/{{css}}' />
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="/build/common.js"></script>
    <script type="text/javascript" src='/build/{{js}}'></script>
  </body>
</html>
