.footer-tab-container {
  position: fixed;;
  bottom: 0;
  background-color: #6563A4;
  width: 100% !important;
  z-index: 1;
}

.footer-tab__link {
  flex-grow: 1 !important;
  margin: auto 0 !important;
}
